{% extends '_default/page.html.twig' %}
{% block content %}
	<section class="section">
		<div class="container has-text-centered">
			<h2 class="title">Get in touch</h2>
			<div class="block">
				<a href="https://twitter.com/thomascenni" target="_blank">
					<span class="icon is-large">
						<i class="fab fa-twitter fa-3x"></i>
					</span>
				</a>
				<a href="https://wa.me/5519996015616?text=Hello Thomas, my name is " target="_blank">
					<span class="icon is-large">
						<i class="fab fa-whatsapp fa-3x"></i>
					</span>
				</a>
			</div>
		</div>
	</section>
{% endblock content %}
