{% extends '_default/page.html.twig' %}
{% block content %}
<section class="section">
	<div class="container">
		Message me by <a href="https://twitter.com/thomascenni" target="_blank">Twitter</a> or 
		<a href="https://wa.me/5519996015616?text=Hello Thomas, my name is " target="_blank">Whatsapp</a>.
	</div>
</section>
{% endblock content %}