{% extends '_default/page.html.twig' %}
{% block content %}
<section class="hero is-warning is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <h1 class="title">
                        Digital solutions for small to medium-sized enterprises.
                    </h1>
                    <h2 class="subtitle">
                        Bringing automation to business operations.
                    </h2>
                </div>
                <div class="column">
                    <figure class="image">
                        <img src="{{ url('/images/17828.svg') }}">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
	<div class="container py-4">
		<h2 class="title has-text-centered mb-6">Latest Projects</h2>
		<div class="columns is-vcentered">
			<div class="column">
				<h2 class="title is-spaced">Parking solution for SME</h2>
				<p class="subtitle">
                    Officially, only in the state of São Paulo, there are 6.983 parkings that 
                    employ 36000 people. But these data are underestimated because there
                    are many parkings that are not attached to any trade union organization.
                    With the economic crisis due to COVID-19 pandemic, I started thinking
                    in solutions that could benefit these small to medium-sized enterprises in 
                    managing their business with a cheap and ecological solution.   
                </p>
				<a class="button is-primary" href="{{url('portfolio/parkja')}}">Read More</a>
			</div>
            <div class="column">
                <figure class="image is-1by1">
                    <img src="images/parkja-app.png" alt="">
                </figure>
            </div>
		</div>
	</div>
</section>
<section class="section">
	<div class="container py-4">
		<div class="columns is-vcentered">
            <div class="column">
                <figure class="image is-16by9">
                    <img src="images/omeusalao-dashboard.png" alt="">
                </figure>
            </div>
			<div class="column">
				<h2 class="title is-spaced">Hair salon ERP</h2>
				<p class="subtitle">
                Hair salons in Brazil are mostly managed by people with lower
                education or limited skills in finance and business administration. 
                In order to empower these people and help them in administrating their small company,
                I developed a solution to manage their clients, the suppliers, the stock of the 
                products, the services and to calculate the employees commission.
                </p>
				<a class="button is-primary" href="{{url('portfolio/omeusalao')}}">Read More</a>
			</div>
		</div>
	</div>
</section>
<section class="section">
	<div class="container py-4">
		<div class="columns is-vcentered">
			<div class="column">
				<h2 class="title is-spaced">Neurosurgery EMR</h2>
				<p class="subtitle">
                    There are different solutions in the market to address
                    electronic medical records (EMRs) but most of them are generic and
                    don't correspond to the real need of the medical doctors.
                    For an interventional neurodiadology department, I developed a custom 
                    database to manage patients, clinical diagnosis, types of interventions and medical 
                    devices, clinical and technical complications, agenda and reminder for 
                    patients follow-up. The tool also generated different type of charts related to
                    predefined KPI (Key Performance Indicators) easily embeddable in 
                    medical presentations (Powerpoint or Keynote).
                </p>
				<a class="button is-primary" href="{{url('portfolio/nridb')}}">Read More</a>
			</div>
            <div class="column">
                <figure class="image is-1by1">
                    <img src="images/nridb.png" alt="">
                </figure>
            </div>
		</div>
	</div>
</section>
{% endblock content %}
