{% extends '_default/page.html.twig' %}
{% block content %}
<section class="hero is-warning is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <h1 class="title">
                        Digital solutions for small to medium-sized enterprises.
                    </h1>
                    <h2 class="subtitle">
                        Bringing automation to business operations.
                    </h2>
                </div>
                <div class="column">
                    <figure class="image is-16by9">
                        <img src="{{ url('/images/intro-img.svg') }}">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
	<div class="container py-4">
		<h2 class="title has-text-centered mb-6">Projects</h2>
		<div class="columns is-vcentered">
			<div class="column">
				<h2 class="title is-spaced">Parking solution for SME</h2>
				<p class="subtitle">
                    Officially, only in the state of São Paulo, there are 6.983 parkings that 
                    employ 36000 people. But these data are underestimated because there
                    are many parkings that are not attached to any trade union organization.
                    With the economic crisis due to COVID-19 pandemic, I started thinking
                    in solutions that could benefit these small to medium-sized enterprises in 
                    managing their business with a cheap and ecological solution.   
                </p>
				<a class="button is-primary" href="{{url('portfolio/parkja')}}">Read More</a>
			</div>
			<div class="column">
            <figure class="image is-1by1">
                <img src="images/parkja-app.png" alt="">
            </figure>
            </div>
		</div>
	</div>
</section>

{% endblock content %}